



 .cabecalho{
    padding:0;
    margin-left:0px;	
    margin-right: 0px;
   margin-block-start: 0%;
    
}
.botao{
    text-align: center;
 }
 .novela{
  
      padding:0;
      margin-left:0px;	
      margin-right: 0px;
     margin-block-start: 0%;
   
}